/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

/*fonts*/
body {
    font-family: Spinnaker, sans-serif;
    background-color: #d9dcd6;
}

h1 {
    font-family: Spinnaker, sans-serif;
    font-weight: 500;
}

.bottom-area span {
    font-size: x-large;
}

/*colors*/
.game-container {
    background-color: #4ED0CE; 
}

.full-menu {
    background-color: #54B9CA;
}

.dropdown-menu, .dropdown-item {
    background-color: #54B9CA;
    color: #fff;
}

.btn-outline-light:hover, .dropdown-item:hover, .show>.btn-outline-light.dropdown-toggle, .btn-outline-light:hover {
    color: #54B9CA;
    background-color: #fff;
}

.game-area {
    background-color: rgba(255, 255, 255, 0.2);
    color: #005B62;
}

.card-div {
    background-color: #005B62;
    border: solid #71D9D8
}

.bottom-area, .dropdown-header, h1, .fa-ellipsis-h {
    color: #005B62;
}

/*body*/
h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*game container*/
.game-container {
    height: 100vh;
    margin-bottom: 5vh;
}

.full-menu {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.dropdown-menu {
    margin-top: 1.5vh;
}

li > .fas {
    margin-right: 5px;
}

.demon-mode {
    font-size: x-small;
    width: 85px;
    height: 50px;
}

/*interactive styling for demon mode- and dark mode-button, incl. colors*/
.btn-danger > .custom-control-label::after, 
.dropdown-item > .custom-control-label::after,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #54B9CA;
}                                                   

/*game area*/
.game-area {
    height: fit-content;
    min-width: 90vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

/*sizing memory bricks*/
.card-div {
    height: auto;
    border-width: 3px;
    padding: 0;
}

.hidden {
    opacity: 0;
}

img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bottom-area {
    padding-bottom: 2px;
    padding-top: 5px;
}

.bottom-area div p {
    margin-bottom: 0;
}

/*footer*/
footer {
    padding-top: 15px;
}

/* Missing bootstrap classes */
.row-cols-8>* {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.row-col-10>* {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

@media (min-width: 768px) {
    .row-cols-md-8>* {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }

    .row-cols-md-10>* {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
        max-height: 10%;
    }

    .row-cols-md-12>* {
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
}

/*small screen size media queries*/
@media only screen and (max-width: 772px) {
    .game-container {
        min-width: 100%;
        min-height: 100vh;
        max-height: 100%; 
        margin: 0;
    }

    .game-area, body {
        background-color: #4ED0CE;
    }

    .dark-mode, .dark-mode .game-area {
        background-color: hsl(179, 58%, 26%);
    }

    .card-div {
        border-color: #4ED0CE;
    }

    h1 {
        font-size: x-large;
    }
}

/*dark mode styling*/
.dark-mode {
    background-color: #13383E;
}

.dark-mode .game-container{
    background-color: hsl(179, 58%,26%);
}

.dark-mode .full-menu {
    background-color: hsl(189, 53%, 26%);
}

.dark-mode .dropdown-menu, .dark-mode .dropdown-item {
    background-color: hsl(189, 53%, 26%);
    color: #fff;
}

.dark-mode .btn-outline-light:hover,
.dark-mode .dropdown-item:hover,
.dark-mode .show>.btn-outline-light.dropdown-toggle,
.dark-mode .btn-outline-light:hover {
    color: hsl(189, 53%, 26%);
    background-color: #fff;
}

.dark-mode .game-area, .dark-mode h1, .dark-mode .fa-ellipsis-h {
    color: hsl(184, 80%, 79%); 
}

.dark-mode .card-div {
    background-color: hsl(184, 79%, 79%);
    border: solid hsl(179, 58%,26%);
}

.dark-mode .bottom-area, .dark-mode .dropdown-header{
    color: hsl(184, 80%, 79%);
}
