/*colors*/
.game-container {
    background-color: #4ED0CE;
}

.full-menu {
    background-color: #54B9CA;
}

.dropdown-menu, .dropdown-item {
    background-color: #54B9CA;
    color: #fff;
}

.btn-outline-light:hover, .dropdown-item:hover, .dropdown-item:active {
    color: #54B9CA;
}

/*body*/
h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*game container*/
.game-container {
    width: 70vw;
    height: 80vh;
}

.full-menu {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.dropdown-menu {
    margin-top: 1.5vh;
}

li > .fas {
    margin-right: 5px;
}

.demon-mode {
    font-size: x-small;
    width: 85px;
    height: 50px;
}

/*small screen size media queries*/
@media only screen and (max-width: 772px) {
    .game-container {
        min-width: 100%;
        height: 100vh;
        margin: 0;
    }
}