/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

/*fonts*/
body {
    font-family: Spinnaker, sans-serif;
    background-color: #d9dcd6;
}

h1 {
    font-family: Spinnaker, sans-serif;
    font-weight: 500;
}

span {
    font-size: x-large;
}

/*colors*/
.game-container {
    background-color: #4ED0CE; 
}

.full-menu {
    background-color: #54B9CA;
}

.dropdown-menu, .dropdown-item {
    background-color: #54B9CA;
    color: #fff;
}

.btn-outline-light:hover, .dropdown-item:hover, .show>.btn-outline-light.dropdown-toggle, .btn-outline-light:hover {
    color: #54B9CA;
    background-color: #fff;
}

.btn-dark {
    background-color: #005B62;
}

.btn-dark:hover {
    background-color: #000;
}

.game-area {
    background-color: rgba(255, 255, 255, 0.2);
    color: #005B62;
}

.card-div {
    background-color: #005B62;
    border: solid #71D9D8
}

.bottom-area, .dropdown-header, h1, .fa-ellipsis-h, .timer, footer {
    color: #005B62;
}

/*body*/
h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*game container*/
.game-container {
    min-height: 100vh;
}

.full-menu {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.dropdown-menu {
    margin-top: 1.5vh;
}

li > .fas {
    margin-right: 5px;
}

/*interactive styling for dark mode-button, incl. colors*/
.btn-dark > .custom-control-label::after, 
.dropdown-item > .custom-control-label::after,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #54B9CA;
}                                                   

/*game area*/
.game-area {
    height: fit-content;
    width: 90vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

.half-width {
    max-width: 50vw;
}

/*sizing memory bricks*/
.card-div {
    height: auto;
    border-width: 3px;
    padding: 0;
}

.hidden {
    opacity: 0;
}

img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bottom-area {
    padding-bottom: 2px;
    padding-top: 5px;
}

.bottom-area div p {
    margin-bottom: 0;
}

/*welcome area*/
.welcome-area {
    min-height: 60vh;
}

.welcome-area div {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 30px;
}

/*game rules*/
.text-left li {
    margin: 8px auto;
}

/*footer*/
footer {
    padding-top: 15px;
    border-top: 2px solid #fff;
    font-size: small;
    height: 70px;
}

.social p a {
    color: #005B62;
}

.social>* {
    float: right;
}

/* Missing bootstrap classes */
.row-cols-8>* {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.row-col-10>* {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

@media (min-width: 768px) {
    .row-cols-md-8>* {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }

    .row-cols-md-10>* {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
        max-height: 10%;
    }

    .row-cols-md-12>* {
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
}

/*small screen size media queries*/
@media only screen and (max-width: 576px) {
    header {
        border-bottom: 2px solid #fff;
    }
    
    .game-container {
        min-width: 100%;
        max-height: 100%; 
        margin: 0;
    }

    .half-width {
        max-width: 90vw;
    }

    .game-area, body{
        background-color: #4ED0CE;
        border-bottom: 2px solid #fff;
        padding-bottom: 14px;
    }

    .dark-mode, .dark-mode .game-area {
        background-color: hsl(179, 58%, 26%);
    }

    .card-div {
        border-color: #4ED0CE;
    }

    h1 {
        font-size: x-large;
        padding: 15px;
        margin-top: 0;
        font-weight: 600;
    } 

    #hamburger-dropdown {
        margin-top: -80px;
        padding-right: 15px;
        border: none;
    }

    .game-button {
        padding: 15px;
        margin-top: -45px;
    }

    .timer {
        width: auto;
        margin-top: -46px;
    }

    .bottom-area, span:not(#level) {
        font-weight: 600;
        font-size: small;
    }

    .current-level span {
        font-weight: 600;
    }
}

/*dark mode styling*/
.dark-mode {
    background-color: #13383E;
}

.dark-mode .game-container{
    background-color: hsl(179, 58%,26%);
}

.dark-mode .full-menu {
    background-color: hsl(189, 53%, 26%);
}

.dark-mode .dropdown-menu, .dark-mode .dropdown-item {
    background-color: hsl(189, 53%, 26%);
    color: #fff;
}

.dark-mode .btn-outline-light:hover,
.dark-mode .dropdown-item:hover,
.dark-mode .show>.btn-outline-light.dropdown-toggle,
.dark-mode .btn-outline-light:hover {
    color: hsl(189, 53%, 26%);
    background-color: #fff;
}

.dark-mode .btn-dark {
    background-color: #000;
}

.dark-mode .btn-dark:hover {
    background-color: #005B62;
}

.dark-mode .game-area, .dark-mode h1, .dark-mode .fa-ellipsis-h, .dark-mode footer, .dark-mode .social p a {
    color: hsl(184, 80%, 79%); 
}

.dark-mode .card-div {
    background-color: hsl(184, 79%, 79%);
    border: solid hsl(179, 58%,26%);
}

.dark-mode .bottom-area, .dark-mode .dropdown-header, .dark-mode .timer{
    color: hsl(184, 80%, 79%);
}
