/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

/*fonts*/
body {
    font-family: Spinnaker, sans-serif;
}

h1 {
    font-family: Spinnaker, sans-serif;
    font-weight: 500;
}

.bottom-area span {
    font-size: x-large;
}

/*colors*/
.game-container {
    background-color: #4ED0CE;
}

.full-menu {
    background-color: #54B9CA;
}

.dropdown-menu, .dropdown-item {
    background-color: #54B9CA;
    color: #fff;
}

.btn-outline-light:hover, .dropdown-item:hover, .show>.btn-outline-light.dropdown-toggle, .btn-outline-light:hover {
    color: #54B9CA;
    background-color: #fff;
}

.game-area {
    background-color: rgba(255, 255, 255, 0.2);
    color: #005B62;
}

.card-div {
    background-color: #005B62;
    border: solid #4ED0CE;
}

.bottom-area, .dropdown-header, h1, .fa-ellipsis-h {
    color: #005B62;
}

/*body*/
h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*game container*/
.game-container {
    width: 70vw;
    height: fit-content;
    margin-bottom: 5vh;
}

.full-menu {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.dropdown-menu {
    margin-top: 1.5vh;
}

li > .fas {
    margin-right: 5px;
}

.demon-mode {
    font-size: x-small;
    width: 85px;
    height: 50px;
}

/*interactive styling for demon mode- and dark mode-button, incl. colors*/
.btn-danger > .custom-control-label::after, 
.dropdown-item > .custom-control-label::after,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #54B9CA;
}                                                   

/*game area*/
.game-area {
    min-height: 55vh;
    height: fit-content;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
}

/*sizing memory bricks*/
.card-div {
    height: 29vh;
    border-width: 3px;
    overflow: hidden;
}

.bottom-area {
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.current-level > p {
    margin-bottom: 0;
}

/*footer*/
footer {
    padding-top: 15px;
}

/*small screen size media queries*/
@media only screen and (max-width: 772px) {
    .game-container {
        min-width: 100%;
        min-height: 100vh;
        max-height: 100%; 
        margin: 0;
    }

    .game-area, body {
        background-color: #4ED0CE;
    }

    #dark-mode, #dark-mode .game-area {
        background-color: hsl(179, 58%, 26%);
    }

    .card-div {
        max-height: 12.5vh;
    }
}

/*dark mode styling*/
#dark-mode .game-container{
    background-color: hsl(179, 58%,26%);
}

#dark-mode .full-menu {
    background-color: hsl(189, 53%, 26%);
}

#dark-mode .dropdown-menu, #dark-mode .dropdown-item {
    background-color: hsl(189, 53%, 26%);
    color: #fff;
}

#dark-mode .btn-outline-light:hover,
#dark-mode .dropdown-item:hover,
#dark-mode .show>.btn-outline-light.dropdown-toggle,
#dark-mode .btn-outline-light:hover {
    color: hsl(189, 53%, 26%);
    background-color: #fff;
}

#dark-mode .game-area, #dark-mode h1, #dark-mode .fa-ellipsis-h {
    color: hsl(184, 80%, 79%); 
}

#dark-mode .card-div {
    background-color: rgb(159, 239, 244);
    border: solid hsl(179, 58%,26%);
}

#dark-mode .bottom-area, #dark-mode .dropdown-header{
    color: hsl(184, 80%, 79%);
}
